body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



header {
    background: rgba(16, 16, 16, 0.6) url("../images/Netherlands.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
    line-height: 1.5;
}

h3 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 400;
}

h4 {
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.navpad {
    padding: 2% 7%;
}

.nav-link {
    font-size: 1.2rem;
    color: #efefef;
    margin: 0 4px;

}

.nav-link:hover {
    text-decoration: underline;
}


.nav-btn {
    padding: 5px 15px;
}

.container-fluid {
    padding: 5% 7%;
}

.navbar-nav {
    margin-right: 60px;
}

.header-text {
    color: #efefef;
}


.button {
    margin: 40px;
    width: 250px;
    font-size: 1.2rem;
    font-weight: 500;
}


/* ABOUT US */

.about-row {
    margin: 50px;
}

.card-box {
    margin-bottom: 20px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.about-us-fa {
    font-size: 3.5rem;
    padding: 2%;
    color: #FF9B00;
}

.card-title {
    padding-bottom: 20px;
}




@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    .button {
        font-size: .8rem;
        mar;
    }

    h3 {
        font-size: 1.5rem;
    }

    .container-fluid {
        padding: 5% 1%;
    }

}

@media only screen and (max-width: 1238px) and (min-width:991px) {
    h2 {
        font-size: 1.5rem;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }

    .nav-btn {
        padding: 5px 10px;
        font-size: 1rem;
    }
}