body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #efefef;
}



header {
    background: rgba(16, 16, 16, 0.6) url("../images/Netherlands.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

h3 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 400;
}

h4 {
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 400;
}

p {
    font-size: 16px;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.navpad {
    padding: 2% 7%;

}

.nav-link {
    font-size: 1.2rem;
    color: #efefef;
    margin: 0 4px;

}

.nav-link:hover {
    text-decoration: underline;
}


.nav-btn {
    padding: 5px 15px;
}

.container-fluid {
    padding: 5% 7%;
}

.navbar-nav {
    margin-right: 60px;
}

.header-text {
    color: #efefef;
}


.header-button {
    margin: 40px;
    width: 250px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #FF9B00;
    color: #efefef;
    border: none;
}


/* ABOUT US */

.about-row {
    margin: 50px;
}

.card-box {
    margin-bottom: 20px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.about-us-fa {
    font-size: 3.5rem;
    padding: 2%;
    color: #FF9B00;
}

.card-title {
    padding-bottom: 20px;
}

.card-button {
    border: 1px solid #FF9B00;
    background-color: white;
    font-weight: 600;
}

.card-button:hover {
    background-color: #FF9B00;
    color: white;
}

#testimonials {
    text-align: center;
    background-color: #FF9B00;
    color: #fff;
}

.testimonial-image {
    width: 5%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    border-top: 1px solid #efefef;
    padding: 2% 7%;
}

.testimonial-number {
    font-size: 36px;
    font-weight: 700;
}

.contacthead {
    margin-bottom: 30px;
}

.contactdiv {
    border-radius: 10px;
}

.contactform {
    background-color: #FF9B00;
}

.description {
    margin: 0 7% 5%;
}

.desc_image {
    width: 70%;
}

.desctext {
    line-height: 1.7;
}

.border-l {
    border-left: 2px solid #FF9B00;
}

.border-r {
    border-right: 2px solid #FF9B00;
}

.leftalign {
    text-align: end;
}

.descbutton {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #FF9B00;
    color: #efefef;
    border: 2px solid transparent;
    margin: 50px 0 0;
}

.descbutton:hover {
    border: 2px solid #FF9B00;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1rem;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    .button {
        font-size: .8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .container-fluid {
        padding: 5% 1%;
    }

    h4 {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 1238px) and (min-width:991px) {
    h2 {
        font-size: 1.5rem;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 0.9rem;
    }

    .nav-btn {
        padding: 5px 10px;
        font-size: 1rem;
    }
}